@model GoodLuck.Models.Anniversary

<h1>Add Anniversary</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SubTitle" class="form-label"></label>
        <input asp-for="SubTitle" class="form-control"></>
        <span asp-validation-for="SubTitle" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Date" class="form-label"></label>
        <input asp-for="Date" type="datetime-local" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Icon" class="form-label">Icon</label>
        <input asp-for="Icon" class="form-control" />
        <span asp-validation-for="Icon" class="text-danger"></span>
    </div>
    
    <h2>Letter</h2>
    <div class="mb-3">
        <label asp-for="LetterContent" class="form-label"></label>
        <textarea asp-for="LetterContent" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
